# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/scan
/trained_model
/results
/logs
# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
.venv/
env/
venv/

.idea/
.vscode/